.DS_Store

__pycache__

*.crc
*.class
*.log
metastore_db
*.rdb
pyenv
*.inverted-lists*
*.dump
pg_data
search
*.jar

# Ignores temp experimental results directories but not ignore archived results
results/*
results-*/*

# Ignores temp plots
*.pdf

*.tar.gz
